{
  :paths ["src"]

  :deps
  {
    org.clojure/clojure       {:mvn/version "1.10.1"}
    org.clojure/core.async    {:mvn/version "1.0.567"}
    clojure.java-time         {:mvn/version "0.3.2"}
    
    mount                     {:mvn/version "0.1.16"}
    metosin/jsonista          {:mvn/version "0.2.5"}
    ; clj-http                  {:mvn/version "3.10.0"}
    
    ;; mongodb:
    ; com.novemberain/monger    {:mvn/version "3.5.0"}
    
    ;; rabbitmq:         
    ; com.novemberain/langohr   {:mvn/version "5.1.0"}
    
    ; ring/ring-core            {:mvn/version "1.8.0"}
    ; ring/ring-jetty-adapter   {:mvn/version "1.8.0"}
    
    ;; pg:
    org.postgresql/postgresql {:mvn/version "42.2.10"}
    seancorfield/next.jdbc    {:mvn/version "1.0.384"}
    com.zaxxer/HikariCP       {:mvn/version "3.4.2"}

    ;; logger stub
    org.slf4j/slf4j-simple    {:mvn/version "1.7.30"}}
    ;; org.slf4j/slf4j-nop {:mvn/version "1.7.30"}
    
    ;; example
    ;; mlib-clj {:local/root "/path/to/mlib-clj"}}
  ;

  :aliases
  {
    :dev
    {
      :extra-paths ["dev" "resources"]
      :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.1"}}}      
    ;
    
    ; :nrepl
    ; {
    ;   :extra-paths ["dev" "resources"]
    ;   :extra-deps
    ;     { nrepl/nrepl                 {:mvn/version "0.6.0"}
    ;       cider/cider-nrepl           {:mvn/version "0.23.0"}}
    ;   :main-opts
    ;     ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

    ;; https://github.com/seancorfield/depstar
    :depstar
    {
      :extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}}

    :jar
    {}
      ; resources not packed
      
    :uberjar
    {
      :extra-paths ["resources"]}}

    ;; https://github.com/tonsky/uberdeps
    ; :uberdeps
    ; {
    ;   :extra-paths ["resources" "target/classes"]}}
    ;   :extra-deps {uberdeps {:mvn/version "0.1.8"}}
    ;   :main-opts ["-m" "uberdeps.uberjar" "--aliases" "uberjar"]}}

  ;; ;; ;; ;;

  ; :mvn/repos
  ; { "central" {:url "https://repo1.maven.org/maven2/"}
  ;   "clojars" {:url "https://clojars.org/repo"}}

  :. :.}

;;.
