{
  ;; application config 
  :example__app
  {}

  ;; build key values sould be overriden by resources/build.edn
  :build
  {
    :appname    "example__app"
    :version    "DEV.0"
    :commit     "DEV-commit-hash"
    :timestamp  "1970-01-01T00:00:01+00:00"}}

;;.
